[manifest]
version = "1.0.0"
priority = 0

#A less strange update
[[patches]]
[patches.pattern]
target = "main.lua"
pattern = "G:update(dt)"
position = "after"
payload = '''
if (G.fams_update) then
    G.fams_update(dt);
end
'''
match_indent = true
times = 1

#Fix for Talisman
[[patches]]
[patches.pattern]
target = "engine/ui.lua"
pattern = "node.config.lang = node.config.lang or G.LANG"
position = "after"
payload = '''
if (type(node.config.text) ~= "string") then
    node.config.text = tostring(node.config.text);
end
'''
match_indent = true
times = 1

#Big Money
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "if not G.debug_UI_toggle then"
position = "after"
payload = '''
if (G.fams_draw) then
    G.fams_draw();
end
'''
match_indent = true
times = 1

#Fixes for overlapping the boss blind code
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''
G.blind_select_opts.small = G.GAME.round_resets.blind_states['Small'] ~= 'Hide' and UIBox{definition = {n=G.UIT.ROOT, config={align = "cm", colour = G.C.CLEAR}, nodes={UIBox_dyn_container({create_UIBox_blind_choice('Small')},false,get_blind_main_colour('Small'))}}, config = {align="bmi", offset = {x=0,y=0}}} or nil
G.blind_select_opts.big = G.GAME.round_resets.blind_states['Big'] ~= 'Hide' and UIBox{definition = {n=G.UIT.ROOT, config={align = "cm", colour = G.C.CLEAR}, nodes={UIBox_dyn_container({create_UIBox_blind_choice('Big')},false,get_blind_main_colour('Big'))}}, config = {align="bmi", offset = {x=0,y=0}}} or nil
G.blind_select_opts.boss = G.GAME.round_resets.blind_states['Boss'] ~= 'Hide' and UIBox{definition = {n=G.UIT.ROOT, config={align = "cm", colour = G.C.CLEAR}, nodes={UIBox_dyn_container({create_UIBox_blind_choice('Boss')},false,get_blind_main_colour('Boss'), mix_colours(G.C.BLACK, get_blind_main_colour('Boss'), 0.8))}}, config = {align="bmi", offset = {x=0,y=0}}} or nil
'''
position = "after"
payload = '''
  if not isChallenge("BR") then
    G.blind_select_opts.small = G.GAME.round_resets.blind_states['Small'] ~= 'Hide' and UIBox{definition = {n=G.UIT.ROOT, config={align = "cm", colour = G.C.CLEAR}, nodes={UIBox_dyn_container({create_UIBox_blind_choice('Small')},false,get_blind_main_colour('Small'))}}, config = {align="bmi", offset = {x=0,y=0}}} or nil
    G.blind_select_opts.big = G.GAME.round_resets.blind_states['Big'] ~= 'Hide' and UIBox{definition = {n=G.UIT.ROOT, config={align = "cm", colour = G.C.CLEAR}, nodes={UIBox_dyn_container({create_UIBox_blind_choice('Big')},false,get_blind_main_colour('Big'))}}, config = {align="bmi", offset = {x=0,y=0}}} or nil
  end

  if isChallenge("BR") then
    G.GAME.blind_on_deck = 'Boss'
    SetWinningAnte(#allnonbosses())
        G.GAME.round_resets.blind_states = {Small = 'Upcoming', Big = 'Upcoming', Boss = 'Select'}
        local t = {n=G.UIT.ROOT, config = {align = 'tm',minw = width, r = 0.15, colour = G.C.CLEAR}, nodes={
        {n=G.UIT.R, config={align = "cm", padding = 0.5}, nodes={
        G.GAME.round_resets.blind_states['Boss'] ~= 'Hide' and {n=G.UIT.O, config={align = "cm", object = G.blind_select_opts.boss}} or nil,
        }}
    }}

    return t 
  end
'''
match_indent = true
times = 1

#Fixes for overlapping the boss blind code
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "local _reward = true"
position = "after"
payload = '''
  if isChallenge("darkmode") then
    blind_amt = "?"
  end
'''
match_indent = true
times = 1

#Assasinate old boss blind creation logic
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''
G.blind_select_opts.small = G.GAME.round_resets.blind_states['Small'] ~= 'Hide' and UIBox{definition = {n=G.UIT.ROOT, config={align = "cm", colour = G.C.CLEAR}, nodes={UIBox_dyn_container({create_UIBox_blind_choice('Small')},false,get_blind_main_colour('Small'))}}, config = {align="bmi", offset = {x=0,y=0}}} or nil
G.blind_select_opts.big = G.GAME.round_resets.blind_states['Big'] ~= 'Hide' and UIBox{definition = {n=G.UIT.ROOT, config={align = "cm", colour = G.C.CLEAR}, nodes={UIBox_dyn_container({create_UIBox_blind_choice('Big')},false,get_blind_main_colour('Big'))}}, config = {align="bmi", offset = {x=0,y=0}}} or nil
'''
position = "at"
payload = '''
'''
match_indent = false
times = 1